@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: white;
  font-family: 'Outfit', sans-serif;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  .bg-300\% {
    background-size: 300% 300%;
  }

  .animate-gradient-x {
    animation: gradient-x 3s ease infinite;
  }

  .animate-bounce-in {
    animation: bounce-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}